

#surveyContainer {
  text-align: left;
  width : 70%;
  /* height: 400px; */
  margin: 50px auto;
  border: green solid  1px;
  border-radius: 10px;
  padding: 70px 0;
  background-color: white;
}

.sv_q_radiogroup_control_item {
  margin :7px;
}

.sv_container {
  height: 100%;

}
.sv_main {
  margin: auto;
  width: 670px;
  height: 100%;
}
.sv_body {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sv_main > form {
  height: 100%;
}



.sv_header > div > h3 {
  color:white;
  width: 100px;
  height: 60px;
  display:none ;
}

.sv_q {
padding: 5px 0;
}

.sv_q_title {
  /* height: 58px; */
  padding: 10px 0 20px 0;
  font-size: 24px;
}
.sv_page_title {
  font-size: 100%;
  height: 58px;
  padding: 10px 0 0 0;
  margin-bottom: 10px;
  border-bottom: 2px solid green;
}



.sv_page_title> .sv-string-viewer  {
  font-size: 36px;
} 


button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
} 

.sv_p_root {
  margin-bottom: 30px;
}
.sv_q_required_text {
  display: none;
}
.sv_prev_btn {
  float: left;
  letter-spacing: normal;
  
  line-height: 50px;
  width: 30%;

  border-radius: 25px;
  border: lightgray solid 1px;
  
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: 700;
}
.sv_q_erbox {
  color:red;
} 
.sv_next_btn {
  float: right;
  letter-spacing: normal;
  
  line-height: 50px;
  width: 60%;

  border-radius: 25px;
  border: white;
  
  background-color: black;
  color: white;
  font-size: 16px;
  font-weight: 700;
}
.sv_nav {
  bottom: 0px;
}

.sv_complete_btn {
  float: right;
  letter-spacing: normal;
  
  line-height: 50px;
  width: 60%;

  border-radius: 25px;
  border: white;
  
  background-color: black;
  color: white;
  font-size: 16px;
  font-weight: 700;
}