
@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
/* @font-face {
  font-family: '양진체';
  src: url('https://cdn.jsdelivr.net/gh/supernovice-lab/font@0.9/yangjin.woff') format('woff');
  font-weight: normal;
  font-style: normal;
} */

#Sally {
  /* height: 100%; */
  /* width: 1; */
  padding-top:  140px; 
  text-align: left;
}

#Sally p{
  color : #63BA48;
  /* color : green; */
  font-family: 'Bangers';
  font-weight: bold;
  /* font-style: bold; */
  font-size: 70px;
  letter-spacing: 2px;
  padding:  10px 0;
}
