
@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);

.nanumgothic * {
 font-family: 'Nanum Gothic', sans-serif;
}


/* @font-face {
  font-family: '양진체';
  src: url('https://cdn.jsdelivr.net/gh/supernovice-lab/font@0.9/yangjin.woff') format('woff');
  font-weight: normal;
  font-style: normal;
} */

#Sally {
  /* height: 100%; */
  /* width: 1; */
  padding-top:  140px; 
  text-align: left;
}

#Sally p{
  color : rgb(107, 163, 73);
  /* color : green; */
  font-family: 'Nanum Gothic';
  font-weight: bold;
  /* font-style: bold; */
  font-size: 70px;
  padding:  10px 0;
}
