#serviceFunctions li{
    display: inline-block;
    width: 33%;
    height: 270px;
    padding: 97px 0;
    border: solid #eaeaee 1px;
}

#serviceFunctions li h3{
    font-size: 36px;
}
#serviceFunctions li h4{
    font-size: 32px;
}

