
@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);

.nanumgothic * {
 font-family: 'Nanum Gothic', sans-serif;
}


* {
  font-family: 'Nanum Gothic';
  margin: 0;
  padding: 0;
}


a {
  text-decoration: none;
  color: black;
}

img {
  vertical-align: middle;
  border: none;
}